body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}
/*
div > .imgWrap {
  display: inline-block;
  margin-left: 20px;
}

div .imgWrap img {
  cursor: pointer;
}
*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div ul {
}
div li {
  cursor: pointer;
  list-style: none;
}

div ul .todoLine span {
  text-decoration: line-through;
}
